body {
    font-family: Arial, sans-serif;
    background-color: #7bb3d6;
    color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  h1 {
    color: #1d1c1a;
  }
  input, button {
    border: none;
    border-radius: 12px;
    padding: 0.8rem 1rem;
    margin: 0.5rem 0;
    font-size: 1rem;
  }
  input {
    width: 300px;
    border-style: solid;
    border-width: 2px;
  }
  button {
    background-color: #1da1f2;
    color: white;
    cursor: pointer;
  }
  button:disabled{
    cursor: not-allowed;
    opacity: 0.7;
  }
  #videoContainer {
    margin-top: 2rem;
    display: none;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  video {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 1rem;
  }
  #downloadLink {
    background-color: #1da1f2;
    color: white;
    border-radius: 12px;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
  }
  .note {
    font-size: 0.9rem;
    color: #444;
    margin-top: 0.5rem;
    text-align: center;
  }
  #videoPlayer {
    padding-left: 79px;
  }
  .disclaimer {
  margin-top: 20px;
  font-size: 12px;
  color: #555;
  }
  #info {
    margin-top: 3rem;
    background-color: #ffffffcc;
    padding: 2rem;
    border-radius: 12px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  }
  #info h2 {
    text-align: center;
    color: #1d1c1a;
    margin-bottom: 1.5rem;
  }
  #faq {
    margin-bottom: 2rem;
  }